# Automatically request reviews from maintainers

# Package
/pybamm/discretisations/ @martinjrobins @rtimms @tinosulzer
/pybamm/experiment/ @brosaplanella @martinjrobins @rtimms @tinosulzer @TomTranter
/pybamm/expression_tree/ @martinjrobins @rtimms @tinosulzer
/pybamm/geometry/ @martinjrobins @rtimms @tinosulzer
/pybamm/input/ @brosaplanella @DrSOKane @rtimms @tinosulzer @TomTranter @kratman
/pybamm/meshes/ @martinjrobins @rtimms @tinosulzer @rtimms
/pybamm/models/ @brosaplanella @DrSOKane @rtimms @tinosulzer @TomTranter @rtimms
/pybamm/parameters/ @brosaplanella @DrSOKane @rtimms @tinosulzer @TomTranter @rtimms  @kratman
/pybamm/plotting/ @martinjrobins @rtimms @Saransh-cpp @tinosulzer @rtimms  @kratman @agriyakhetarpal
/pybamm/solvers/ @martinjrobins @rtimms @tinosulzer @TomTranter @rtimms
/pybamm/spatial_methods/ @martinjrobins @rtimms @tinosulzer @rtimms
/pybamm/* @pybamm-team/maintainers # the files directly under /pybamm/, will not recurse

# CI/CD workflows
/.github/ @martinjrobins @Saransh-cpp @agriyakhetarpal @kratman @arjxn-py

# Benchmarks
/benchmarks/ @brosaplanella @Saransh-cpp @agriyakhetarpal @arjxn-py

# Documentation
/docs/ @kratman @arjxn-py @agriyakhetarpal @Saransh-cpp

# Example scripts
/examples/ @kratman @agriyakhetarpal @Saransh-cpp

# Installation and other scripts
/scripts/ @martinjrobins @Saransh-cpp @agriyakhetarpal @kratman @arjxn-py

# Files in the root directory
/* @martinjrobins @Saransh-cpp @agriyakhetarpal @kratman @arjxn-py
