*.txt
*.pdf
*.tmp
/local/

# ignore running files
*.pyc
*.py~
.~lock*

# ignore Python cache
*__pycache__/
*.cache

# ignore Sphinx build files
docs/_build/
docs/build/
build/

# ignore inputs except parameters
input/*
!input/parameters

# ignore simulation outputs
out/

# ignore ideas
ideas/
