[submodule "sundials"]
    path = packages/pybamm-solvers/sundials
    url = https://github.com/LLNL/sundials.git
[submodule "SuiteSparse"]
    path = packages/pybamm-solvers/SuiteSparse
    url = https://github.com/DrTimothyAldenDavis/SuiteSparse.git
