include pybamm/input/drive_cycles/car_current.csv
include pybamm/input/drive_cycles/US06.csv
include pybamm/input/parameters/lead-acid/anodes/lead_Sulzer2019/parameters.csv
include pybamm/input/parameters/lead-acid/cells/BBOXX_Sulzer2019/parameters.csv
include pybamm/input/parameters/lead-acid/cathodes/lead_dioxide_Sulzer2019/parameters.csv
include pybamm/input/parameters/lead-acid/experiments/1C_discharge_from_full/parameters.csv
include pybamm/input/parameters/lead-acid/electrolytes/sulfuric_acid_Sulzer2019/parameters.csv
include pybamm/input/parameters/lead-acid/separators/agm_Sulzer2019/parameters.csv
include pybamm/input/parameters/lithium-ion/anodes/graphite_Chen2020/parameters.csv
include pybamm/input/parameters/lithium-ion/anodes/graphite_Chen2020/graphite_LGM50_ocp_Chen2020.csv
include pybamm/input/parameters/lithium-ion/anodes/graphite_mcmb2528_Marquis2019/parameters.csv
include pybamm/input/parameters/lithium-ion/anodes/graphite_Kim2011/parameters.csv
include pybamm/input/parameters/lithium-ion/cells/Kim2011/parameters.csv
include pybamm/input/parameters/lithium-ion/cells/kokam_Marquis2019/parameters.csv
include pybamm/input/parameters/lithium-ion/cells/LGM50_Chen2020/parameters.csv
include pybamm/input/parameters/lithium-ion/cathodes/nca_Kim2011/parameters.csv
include pybamm/input/parameters/lithium-ion/cathodes/nca_Kim2011/nca_ocp_Kim2011_data.csv
include pybamm/input/parameters/lithium-ion/cathodes/nmc_Chen2020/parameters.csv
include pybamm/input/parameters/lithium-ion/cathodes/nmc_Chen2020/nmc_LGM50_ocp_Chen2020.csv
include pybamm/input/parameters/lithium-ion/cathodes/lico2_Marquis2019/parameters.csv
include pybamm/input/parameters/lithium-ion/cathodes/lico2_Marquis2019/lico2_data_example.csv
include pybamm/input/parameters/lithium-ion/experiments/1C_discharge_from_full_Marquis2019/parameters.csv
include pybamm/input/parameters/lithium-ion/experiments/1C_discharge_from_full_Kim2011/parameters.csv
include pybamm/input/parameters/lithium-ion/experiments/1C_discharge_from_full_Chen2020/parameters.csv
include pybamm/input/parameters/lithium-ion/electrolytes/lipf6_Marquis2019/parameters.csv
include pybamm/input/parameters/lithium-ion/electrolytes/lipf6_Kim2011/parameters.csv
include pybamm/input/parameters/lithium-ion/electrolytes/lipf6_Nyman2008/parameters.csv
include pybamm/input/parameters/lithium-ion/separators/separator_Kim2011/parameters.csv
include pybamm/input/parameters/lithium-ion/separators/separator_Chen2020/parameters.csv
include pybamm/input/parameters/lithium-ion/separators/separator_Marquis2019/parameters.csv
include pybamm/input/parameters/lead-acid/anodes/lead_Sulzer2019/lead_ocp_Bode1977.py
include pybamm/input/parameters/lead-acid/cathodes/lead_dioxide_Sulzer2019/lead_dioxide_ocp_Bode1977.py
include pybamm/input/parameters/lead-acid/electrolytes/sulfuric_acid_Sulzer2019/diffusivity_Gu1997.py
include pybamm/input/parameters/lead-acid/electrolytes/sulfuric_acid_Sulzer2019/conductivity_Gu1997.py
include pybamm/input/parameters/lead-acid/electrolytes/sulfuric_acid_Sulzer2019/darken_thermodynamic_factor_Chapman1968.py
include pybamm/input/parameters/lead-acid/electrolytes/sulfuric_acid_Sulzer2019/viscosity_Chapman1968.py
include pybamm/input/parameters/lithium-ion/anodes/graphite_Chen2020/graphite_LGM50_diffusivity_Chen2020.py
include pybamm/input/parameters/lithium-ion/anodes/graphite_Chen2020/graphite_LGM50_electrolyte_exchange_current_density_Chen2020.py
include pybamm/input/parameters/lithium-ion/anodes/graphite_mcmb2528_Marquis2019/graphite_mcmb2528_ocp_Dualfoil1998.py
include pybamm/input/parameters/lithium-ion/anodes/graphite_mcmb2528_Marquis2019/graphite_electrolyte_exchange_current_density_Dualfoil1998.py
include pybamm/input/parameters/lithium-ion/anodes/graphite_mcmb2528_Marquis2019/graphite_entropic_change_Moura2016.py
include pybamm/input/parameters/lithium-ion/anodes/graphite_mcmb2528_Marquis2019/graphite_mcmb2528_diffusivity_Dualfoil1998.py
include pybamm/input/parameters/lithium-ion/anodes/graphite_Kim2011/graphite_electrolyte_exchange_current_density_Kim2011.py
include pybamm/input/parameters/lithium-ion/anodes/graphite_Kim2011/graphite_ocp_Kim2011.py
include pybamm/input/parameters/lithium-ion/anodes/graphite_Kim2011/graphite_diffusivity_Kim2011.py
include pybamm/input/parameters/lithium-ion/cathodes/nca_Kim2011/nca_ocp_Kim2011_function.py
include pybamm/input/parameters/lithium-ion/cathodes/nca_Kim2011/nca_diffusivity_Kim2011.py
include pybamm/input/parameters/lithium-ion/cathodes/nca_Kim2011/nca_electrolyte_exchange_current_density_Kim2011.py
include pybamm/input/parameters/lithium-ion/cathodes/nmc_Chen2020/nmc_LGM50_diffusivity_Chen2020.py
include pybamm/input/parameters/lithium-ion/cathodes/nmc_Chen2020/nmc_LGM50_electrolyte_exchange_current_density_Chen2020.py
include pybamm/input/parameters/lithium-ion/cathodes/lico2_Marquis2019/lico2_electrolyte_exchange_current_density_Dualfoil1998.py
include pybamm/input/parameters/lithium-ion/cathodes/lico2_Marquis2019/lico2_ocp_Dualfoil1998.py
include pybamm/input/parameters/lithium-ion/cathodes/lico2_Marquis2019/lico2_entropic_change_Moura2016.py
include pybamm/input/parameters/lithium-ion/cathodes/lico2_Marquis2019/lico2_diffusivity_Dualfoil1998.py
include pybamm/input/parameters/lithium-ion/electrolytes/lipf6_Marquis2019/electrolyte_diffusivity_Capiglia1999.py
include pybamm/input/parameters/lithium-ion/electrolytes/lipf6_Marquis2019/electrolyte_conductivity_Capiglia1999.py
include pybamm/input/parameters/lithium-ion/electrolytes/lipf6_Kim2011/electrolyte_diffusivity_Kim2011.py
include pybamm/input/parameters/lithium-ion/electrolytes/lipf6_Kim2011/electrolyte_conductivity_Kim2011.py
include pybamm/input/parameters/lithium-ion/electrolytes/lipf6_Nyman2008/electrolyte_conductivity_Nyman2008.py
include pybamm/input/parameters/lithium-ion/electrolytes/lipf6_Nyman2008/electrolyte_diffusivity_Nyman2008.py
include pybamm/input/parameters/lead-acid/anodes/lead_Sulzer2019/README.md
include pybamm/input/parameters/lead-acid/cells/BBOXX_Sulzer2019/README.md
include pybamm/input/parameters/lead-acid/cathodes/lead_dioxide_Sulzer2019/README.md
include pybamm/input/parameters/lead-acid/experiments/1C_discharge_from_full/README.md
include pybamm/input/parameters/lead-acid/electrolytes/sulfuric_acid_Sulzer2019/README.md
include pybamm/input/parameters/lead-acid/separators/agm_Sulzer2019/README.md
include pybamm/input/parameters/lithium-ion/anodes/graphite_Chen2020/README.md
include pybamm/input/parameters/lithium-ion/anodes/graphite_mcmb2528_Marquis2019/README.md
include pybamm/input/parameters/lithium-ion/anodes/graphite_Kim2011/README.md
include pybamm/input/parameters/lithium-ion/cells/Kim2011/README.md
include pybamm/input/parameters/lithium-ion/cells/kokam_Marquis2019/README.md
include pybamm/input/parameters/lithium-ion/cells/LGM50_Chen2020/README.md
include pybamm/input/parameters/lithium-ion/cathodes/nca_Kim2011/README.md
include pybamm/input/parameters/lithium-ion/cathodes/nmc_Chen2020/README.md
include pybamm/input/parameters/lithium-ion/cathodes/lico2_Marquis2019/README.md
include pybamm/input/parameters/lithium-ion/experiments/1C_discharge_from_full_Marquis2019/README.md
include pybamm/input/parameters/lithium-ion/experiments/1C_discharge_from_full_Kim2011/README.md
include pybamm/input/parameters/lithium-ion/experiments/1C_discharge_from_full_Chen2020/README.md
include pybamm/input/parameters/lithium-ion/electrolytes/lipf6_Marquis2019/README.md
include pybamm/input/parameters/lithium-ion/electrolytes/lipf6_Kim2011/README.md
include pybamm/input/parameters/lithium-ion/electrolytes/lipf6_Nyman2008/README.md
include pybamm/input/parameters/lithium-ion/separators/separator_Kim2011/README.md
include pybamm/input/parameters/lithium-ion/separators/separator_Chen2020/README.md
include pybamm/input/parameters/lithium-ion/separators/separator_Marquis2019/README.md
include pybamm/version
include pybamm/CITATIONS.txt
include CMakeBuild.py