numpy >= 1.16
scipy >= 1.3
pandas >= 0.24
anytree >= 2.4.3
autograd >= 1.2
scikit-fem >= 0.2.0
casadi >= 3.5.0
imageio>=2.9.0
jupyter  # For example notebooks
pybtex>=0.24.0
sympy >= 1.8
bpx
# Note: Matplotlib is loaded for debug plots but to ensure pybamm runs
# on systems without an attached display it should never be imported
# outside of plot() methods.
# Should not be imported
matplotlib >= 2.0
#
