name: Discussion Autoresponder

on:
  discussion:
    types: [created]

permissions: {}

jobs:
  autorespond:
    name: Autorespond to New Discussions
    runs-on: ubuntu-latest
    permissions:
      discussions: write
      contents: read

    steps:
      - name: Run Discussion Autoresponder
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const discussion = context.payload.discussion;
            const message = "Hi! We have now moved our discussions to [Discourse](https://pybamm.discourse.group/). Please post your question there.";

            const query = `
              mutation($discussionId: ID!, $body: String!) {
                addDiscussionComment(input: {discussionId: $discussionId, body: $body}) {
                  comment {
                    id
                  }
                }
              }
            `;

            await github.graphql(query, {
              discussionId: discussion.node_id,
              body: message,
            });
