name: Discussion Autoresponder

on:
  discussion:
    types: [created]

permissions: {}

jobs:
  autorespond:
    name: Autorespond to New Discussions
    runs-on: ubuntu-latest
    permissions:
      discussions: write
      contents: read

    steps:
      - name: Run Discussion Autoresponder
        uses: actions/github-script@v7
        with:
          script: |
            const discussion = context.payload.discussion;
            const message = "Hi! We have now moved our discussions to [Discourse](https://pybamm.discourse.group/). Please post your question there.";

            await github.request('POST /repos/{owner}/{repo}/discussions/{discussion_number}/comments', {
              owner: context.repo.owner,
              repo: context.repo.repo,
              discussion_number: discussion.number,
              body: message,
              headers: {
                'X-GitHub-Api-Version': '2022-11-28',
              },
            });
