name: Build and push Docker images to Docker Hub

on:
  workflow_dispatch:
  release:
    types: [published]

permissions: {}

jobs:
  build_docker_image:
    # This workflow is only of value to PyBaMM and would always be skipped in forks
    if: github.repository == 'pybamm-team/PyBaMM'
    name: Build image
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Set up QEMU
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0


      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
        with:
          cache-binary: false
      - name: Login to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }}


      - name: Build and push Docker image to Docker Hub
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          file: scripts/Dockerfile
          tags: pybamm/pybamm:latest
          push: true
          platforms: linux/amd64
          no-cache: true

      - name: List built image(s)
        run: docker images
