name: Check URLs with Lychee

on:
  push:
    branches:
      - main
      - develop
  pull_request:
  schedule:
    # Run everyday at 3 am UTC
    - cron: "0 3 * * *"


permissions: {}

jobs:
  linkChecker:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:

      # cache Lychee results to avoid hitting rate limits
      - name: Restore lychee cache
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: .lycheecache
          key: cache-lychee-${{ github.sha }}
          restore-keys: cache-lychee-

      # check URLs with Lychee
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      # use stable version for now to avoid breaking changes
      - name: Lychee URL checker
        uses: lycheeverse/lychee-action@f613c4a64e50d792e0b31ec34bbcbba12263c6a6 # v2.3.0
        with:
          # arguments with file types to check
          args: >-
            --cache
            --no-progress
            --max-cache-age 2d
            --timeout 10
            --max-retries 5
            --skip-missing
            --exclude-loopback
            --exclude https://twitter.com/pybamm_
            --exclude "https://doi\.org|www.sciencedirect\.com/*"
            --exclude https://www.rse.ox.ac.uk
            --accept 200,429
            --exclude-path ./CHANGELOG.md
            --exclude-path ./scripts/update_version.py
            --exclude-path asv.conf.json
            --exclude-path docs/conf.py
            --exclude-path all_contributors.md
            './**/*.rst'
            './**/*.md'
            './**/*.py'
            './**/*.ipynb'
            './**/*.json'
            './**/*.toml'
          # fail the action on broken links
          fail: true
          jobSummary: true
          format: markdown
        env:
          # to be used in case rate limits are surpassed
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
