name: Build and publish package to PyPI
on:
  release:
    types: [published]

jobs:
  Build:
    runs-on: ubuntu-latest

    steps:
      - name: Set up Python
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b # v5.3.0
        with:
          python-version: 3.12

      - name: Build wheel
        run: |
          pipx run build --outdir deploy

      - name: Upload package
        uses: actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08 # v4.6.0
        with:
          name: wheels
          path: deploy/
          if-no-files-found: error

  Publish:
    needs: Build
    runs-on: ubuntu-latest
    environment: pypi
    permissions:
      id-token: write

    steps:
      - name: Publish on PyPI
        uses: pypa/gh-action-pypi-publish@67339c736fd9354cd4f8cb0b744f2b82a74b5c70 # v1.12.3
        with:
          packages-dir: deploy/
