name: Scheduled

on:
  workflow_dispatch:
  # Run every day at 3 am UTC
  schedule:
    - cron: "0 3 * * *"


permissions: {}

env:
  PYBAMM_DISABLE_TELEMETRY: "true"
  FORCE_COLOR: 3

concurrency:
  # github.workflow: name of the workflow, so that we don't cancel other workflows
  # github.event.pull_request.number || github.ref: pull request number or branch name if not a pull request
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  # Cancel in-progress runs when a new workflow with the same group name is triggered
  # This avoids workflow runs on both pushes and PRs
  cancel-in-progress: true

jobs:
  run_unit_integration_and_coverage_tests:
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read

    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-15-intel, macos-latest, windows-latest ]
        python-version: ["3.10", "3.11", "3.12", "3.13"]
    name: Tests (${{ matrix.os }} / Python ${{ matrix.python-version }})

    steps:
      - name: Check out PyBaMM repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Install Linux system dependencies
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install gfortran gcc graphviz pandoc
          sudo apt-get install libopenblas-dev texlive-latex-extra dvipng

      - name: Install macOS system dependencies
        if: matrix.os == 'macos-15-intel' || matrix.os == 'macos-latest'
        env:
          HOMEBREW_NO_INSTALL_CLEANUP: 1
          HOMEBREW_NO_AUTO_UPDATE: 1
          HOMEBREW_NO_COLOR: 1
          # Speed up CI
          NONINTERACTIVE: 1
        # sometimes gfortran cannot be found, so reinstall gcc just to be sure
        run: |
          brew analytics off
          brew install graphviz libomp
          brew reinstall gcc

      - name: Install Windows system dependencies
        if: matrix.os == 'windows-latest'
        run: choco install graphviz --version=8.0.5

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ matrix.python-version }}

      - uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
        with:
          version: "latest"
          enable-cache: true

      - name: Install nox
        run: uv tool install nox

      - name: Run unit tests for ${{ matrix.os }} with Python ${{ matrix.python-version }}
        if: matrix.os != 'ubuntu-latest' || matrix.python-version != '3.13'
        run: nox -s unit

      - name: Run coverage tests for ${{ matrix.os }} with Python ${{ matrix.python-version }}
        if: matrix.os == 'ubuntu-latest' && matrix.python-version == '3.13'
        run: nox -s coverage

      - name: Upload coverage report
        if: matrix.os == 'ubuntu-latest' && matrix.python-version == '3.13'
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Run integration tests for ${{ matrix.os }} with Python ${{ matrix.python-version }}
        run: nox -s integration

  run_doctests:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      fail-fast: false
    name: Doctests (ubuntu-latest / Python 3.13)

    steps:
      - name: Check out PyBaMM repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Install Linux system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install graphviz pandoc
          sudo apt-get install texlive-latex-extra dvipng

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3.13

      - uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
        with:
          version: "latest"
          enable-cache: true

      - name: Install nox
        run: uv tool install nox

      - name: Install docs dependencies and run doctests for GNU/Linux
        run: nox -s doctests

      - name: Check if the documentation can be built for GNU/Linux
        run: nox -s docs

  run_example_tests:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      fail-fast: false
    name: Example notebooks (ubuntu-latest / Python 3.13)

    steps:
      - name: Check out PyBaMM repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Install Linux system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install gfortran gcc graphviz pandoc
          sudo apt-get install libopenblas-dev texlive-latex-extra dvipng

      - name: Set up Python 3.13
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3.13

      - uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
        with:
          version: "latest"
          enable-cache: true

      - name: Install nox
        run: uv tool install nox

      - name: Run example notebooks tests for GNU/Linux with Python 3.13
        run: nox -s examples

  run_scripts_tests:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      fail-fast: false
    name: Example scripts (ubuntu-latest / Python 3.13)

    steps:
      - name: Check out PyBaMM repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Install Linux system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install gfortran gcc graphviz
          sudo apt-get install libopenblas-dev texlive-latex-extra dvipng

      - name: Set up Python 3.13
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3.13

      - uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
        with:
          version: "latest"
          enable-cache: true

      - name: Install nox
        run: uv tool install nox

      - name: Run example scripts tests for GNU/Linux with Python 3.13
        run: nox -s scripts
