name: Update copyright year(s) in license file

on:
  # Manual trigger
  workflow_dispatch:
  # Every January 1st at 3am GMT
  schedule:
    - cron: "0 3 1 1 *"

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - uses: FantasticFiasco/action-update-license-year@v2
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        path: LICENSE.txt