name: Alert validation repository
on:
  workflow_dispatch:
  release:
    types:
      - published


permissions: {}


jobs:
  build:
    if: github.repository == 'pybamm-team/PyBaMM'
    name: Dispatch to `pybamm-validation`
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: peter-evans/repository-dispatch@28959ce8df70de7be546dd1250a005dd32156697 # v4.0.1
        with:
          token: ${{ secrets.BENCHMARKS_ACCESS_TOKEN }}
          repository: pybamm-team/pybamm-validation
          event-type: ${{ github.event_name }}
          client-payload: |-
            {
              "message": {
                "commit_hash": "$GITHUB_SHA"
              }
            }
